<div class="content">
  <div class="introduce">
    <!-- <ngx-typed-js [strings]="['I\'m Pattarapol houdhang', 'Nobody can argue this fact.']">
      <h1 class="typing"></h1>
    </ngx-typed-js> -->
    <p>Ex et sit anim est sunt do ea reprehenderit non duis. Est do duis non ea nostrud ut aliqua aute non do laboris
      magna dolor consectetur. Commodo ut dolor esse in est anim veniam commodo non. Sunt pariatur eiusmod eiusmod
      adipisicing qui exercitation cillum ut enim id amet.</p>
  </div>
  <img class="profilepic" src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="">
</div>
