.content {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}
.content > * {
  flex: 1 1;
}
.profilepic {
  background-color: white;
}

@media (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
}
