<div class="content">
  <div>
    <img class="profilepic" src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
      alt="">
  </div>

  <div class="introduce">
    <!-- <ngx-typed-js [strings]="['I\'m Pattarapol houdhang', 'Nobody can argue this fact.']">
      <h1 class="typing"></h1>
    </ngx-typed-js> -->
    <p>Ex et sit anim est sunt do ea reprehenderit non duis. Est do duis non ea nostrud ut aliqua aute non do laboris
      magna dolor consectetur. Commodo ut dolor esse in est anim veniam commodo non. Sunt pariatur eiusmod eiusmod
      adipisicing qui exercitation cillum ut enim id amet Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Obcaecati, consectetur suscipit? Natus facilis minus dolor praesentium hic saepe? Beatae nobis asperiores corrupti
      explicabo tempora laudantium fuga natus, reiciendis nihil ipsam voluptas consequuntur animi? Atque porro,
      exercitationem nisi alias, ex magni minima tempore, cumque impedit ea incidunt! Consequuntur laudantium aliquam
      reiciendis blanditiis consectetur odio libero nostrum tenetur? Nulla fugit laboriosam omnis alias perspiciatis
      sequi aperiam in distinctio, dicta nisi temporibus saepe recusandae vero, quidem unde officia maiores
      reprehenderit, reiciendis fuga error id commodi. Debitis vitae, enim aperiam quibusdam rem nihil rerum porro
      deleniti itaque. Quia enim non nam explicabo amet. Itaque earum, rerum laboriosam velit ipsam molestiae cum
      aliquid, quam voluptatum sequi necessitatibus repellat odit inventore sunt mollitia perferendis incidunt rem
      laborum impedit enim deserunt? Numquam omnis illum impedit natus, aut tempore tenetur odit veritatis, vero quia
      tempora. Odit soluta quidem molestias molestiae neque facere pariatur quia amet et laudantium? Placeat, doloribus
      molestiae. Voluptatum nemo harum sunt incidunt tenetur accusantium eum cum iste distinctio excepturi eaque, at
      delectus est quis ex, architecto assumenda ab? Aliquid facilis, voluptatibus quis corporis illo eveniet suscipit
      maiores est? Amet blanditiis libero explicabo laborum perspiciatis dolor voluptatem voluptatum quas provident
      saepe, quo est necessitatibus eos quaerat!ÏÏ</p>
  </div>
</div>